/************************************************  ************************************************/
/* followings are the sequence-wise sections

    1. header
      1.1. sidemenu-toggler
      1.2. sidemenu
      1.3. header-banner
        1.3.1. home-banner 
        1.3.2. it_businesses & it_contract &       it_services & it_consultancy banner
        1.3.3. it-businesses banner
        1.3.4. it-contracts banner
        1.3.5. it_services banner
        1.3.6. it_consultancy banner
        1.3.7. device-repair banner
    2. our-partners
      2.1. slider
    3. how-it-works
    4. about-us 
      4.1. left-sec
      4.2. right-sec
    5. floating-whatsapp 
    6. footer
      6.1. footer-logo
      6.2. footer-links 
      6.3. first-row
      6.4. second-row
      6.5. last-row
    7. it-businesses section
      7.1. sticky business form
      7.2. sticky-trigger getStarted btn
      7.3. it-business summary
      7.4. divider
      7.5. it-business services
      7.6. it-platform
      7.7. it-business form
    8. it-contracts
      8.1. it-contracts getStarted btn
      8.2. it-contracts features
      8.3. it-contracts steps
    9. it-services
      9.1. advantages
    10. it_consultancy
      10.1. it-projects
    11. device_repair

*/
/************************************************  ************************************************/


/************************************************* header starts *************************************************/
.wrapper {
  position: relative;
  right: 0;
  transition: all 0.7s ease;
  overflow: hidden;
}

.header {
  position: fixed;
  /* display: block; */
  transition: all 0.7s ease;
  z-index: 1001;
  top: 0;
  left: 0;
  height: 7.3rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.671) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* right: 0; */
  bottom: -2rem;
  opacity: 0.8;
  transition: all 0.5s ease;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.671) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header::after {
  content: "";
  clear: both;
  display: block;
}

.header .wrap {
  width: 1348px;
  max-width: 100%;
  margin: auto;
  padding: 0.1rem 4rem;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  margin: 0;
  padding: 16px 0;
}
.header .logo a,
.header .logo a img {
  display: block;
}
.header .logo img {
  display: block;
  width: 7rem;
  margin-top: -17px;
  border-top-left-radius: 50%;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
  border: #fff 10px double;
  background-clip: content-box;
}

.header a:hover {
  text-decoration: none;
}

.header .right-menu {
  position: relative;
  /* z-index: 1; */
  float: right;
  transition: ease 0.3s;
}

.header .right-menu a {
  margin-top: 1.2rem;
  margin-left: 1rem;
}

/************** sidemenu toggler **************/
.header .sidemenu-toggler {
  float: right;
  position: absolute;
  width: 40px;
  padding: 6px;
  top: 23px;
  right: 12px;
}

.header .sidemenu-toggler > span {
  display: block;
  background-color: #fff;
  height: 0.2rem;
}
.header .sidemenu-toggler > span:nth-child(2) {
  margin: 4px 0 4px auto;
  width: 75%;
  transition: 0.3s all;
}
.header .sidemenu-toggler > span:nth-child(3) {
  margin-left: auto;
  width: 50%;
  transition: 0.6s all;
}
.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3) {
  width: 100%;
}
/************* sidemenu toggler ends *************/

/******************* sidemenu *******************/
.sidemenu {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.96);
  box-shadow: 0 8px 32px 0 rgba(11, 11, 11, 0.37);
  backdrop-filter: blur(34px);
  border: 1px solid rgba(2, 2, 2, 0.18);
  width: 41%;
  height: 100vh;
  z-index: 1002;
  padding: 4rem;
  color: white;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.7s ease-in-out;
  overflow: hidden;
}

.sidemenu hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-top: 1px solid rgb(80, 79, 79);
}

.sidemenu.active {
  transform: translate3d(0, 0, 0);
}

.sidemenu .close {
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 20px;
  top: 24px;
}

.sidemenu .close::before,
.sidemenu .close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  height: 28px;
  width: 2px;
  background: rgb(255, 254, 254);
}

.sidemenu .close::before {
  transform: rotate(45deg);
}
.sidemenu .close::after {
  transform: rotate(-45deg);
}

.sidemenu h1 {
  font-weight: 600;
  font-size: 2.18rem;
}
.sidemenu .name {
  color: #00b7ff;
}

.sidemenu nav ul {
  padding-top: 30px;
  list-style: none;
}
.sidemenu nav li {
  padding: 15px 0;
}
.sidemenu nav a {
  font-size: 1.3rem;
  color: #fff;
}

.sidemenu nav a:hover {
  color: #ff0000;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
/***************** sidemenu ends *****************/

/*********************** header banner section  ***********************/
section {
  display: block;
}

/************** home-banner  **************/
.home-banner .banner {
  background-image: url("/assests/img/home-banner.jpg");
  padding: 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 100vh;
  max-height: 800px;
  background-attachment: initial;
  background-repeat: no-repeat;
  position: relative;
}

.home-banner .right-item {
  left: 50%;
  right: 0;
}

.home-banner .left-item {
  left: 0;
  right: 50%;
}

.home-banner .left-item,
.home-banner .right-item {
  position: absolute;
  bottom: 5rem;
}

.home-banner .banner-title {
  color: #fff;
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: "Gotham Medium", sans-serif;
  margin-bottom: 2rem;
  font-weight: bold;
  display: block;
}

.home-banner .btn {
  line-height: 2rem;
  margin: 0;
  padding: 0.1rem 1.5rem;
}
/* ends */

/* it_businesses & it_contracts & it_services & it_consultancy banner  */
.business,
.contracts,
.services,
.consultancy,
.device-repair {
  padding-bottom: 1rem;
}

.business-banner .banner,
.contracts-banner .banner,
.services-banner .banner,
.consultancy-banner .banner,
.device-repair-banner .banner {
  position: relative;
  height: 22rem;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.business-banner .banner::before,
.contracts-banner .banner::before,
.services-banner .banner::before,
.consultancy-banner .banner::before,
.device-repair-banner .banner::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.business-banner .banner::after,
.contracts-banner .banner::after,
.services-banner .banner::after,
.consultancy-banner .banner::after,
.device-repair-banner .banner::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: -1px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* it-businesses banner  */
.business-banner .banner {
  background-image: url("/assests/img/business-banner.jpg");
}

.business-banner .banner-title {
  font-size: 6rem;
  font-weight: bolder;
}

/* it-contracts banner  */
.contracts-banner .banner {
  background-image: url("/assests/img/contracts-bg.jpg");
}
.contracts-banner .banner-title {
  font-size: 3.5rem;
  padding-top: 1.5rem;
}

/* it_services banner */
.services-banner .banner {
  background-image: url("/assests/img/services-banner.jpg");
}
.services-banner .banner-title {
  font-size: 6rem;
}
/* it_consultancy banner */
.consultancy-banner .banner {
  background-image: url("/assests/img/it-consultancy-banner.jpg");
}
.consultancy-banner .banner-title {
  font-size: 6rem;
}

/* device-repair banner  */
.device-repair .banner {
  background-image: url("/assests/img/device-repair-banner.jpg");
}
.device-repair .banner-title {
  font-size: 5rem;
}
/****************************************** header ends  ******************************************/

/****************************************** our partners ******************************************/
.our-costumers .container {
  padding: 4rem;
}

.our-costumers .our-content {
  line-height: 2rem;
  text-align: center;
  color: rgb(46, 46, 46);
  padding: 0 0 3rem;
}

.our-costumers .our-content .inner {
  max-width: 89rem;
  margin: 0 auto;
}

.our-costumers .our-content h1 {
  font-weight: 800;
}

/********* Slider *********/
.slick-slide {
  margin: 20px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/****************************************** our partners ends******************************************/

/****************************************************** how-it-works-sec ******************************************************/
.how-it-works-sec {
  background-color: #f6fbfd;
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.circle-contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.circle-contents .circle {
  float: left;
  width: 26rem;
  height: 26rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 1.5rem 1.5rem 1.5rem;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.circle-contents .circle:hover {
  transform: scale(1.05);
  z-index: 4;
}

.circle-contents .circle:nth-child(2) {
  margin: 10rem -4.5rem 0;
  background-color: rgba(237, 245, 248, 0.6);
  z-index: 2;
  width: 26rem;
  height: 26rem;
}

.circle-contents .circle .circle-images {
  height: 9rem;
  display: flex;
  align-items: center;
}

.circle-contents .circle:nth-child(1) .circle-images,
.circle-contents .circle:nth-child(3) .circle-images {
  height: 9rem;
}

.circle-contents .circle img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: initial;
}

.circle-contents .circle .circle-text {
  max-width: 29rem;
}

.circle-contents .circle h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fc3f1d;
  line-height: 3rem;
  text-align: center;
}

.circle-contents .circle h6 span {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: block;
  background-color: #fc3f1d;
  border-radius: 50%;
  margin: 1rem auto 0.5rem;
}

.circle-contents .circle p {
  font-size: 1.3rem;
  text-align: center;
}
/****************************************************** how-it-works-sec ends******************************************************/

/************************************** about-us sec  **************************************/
.about-us {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 10rem 0;
}
.about-us-inner {
  display: flex;
}

/* left sction  */
.about-us .why-us::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.2rem;
  background: #fff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 50%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #e8e8e8 50%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #ffffff 0%, #e8e8e8 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0 );
}

.about-us .why-us .why-us-boxes {
  margin-top: 3rem;
  padding-right: 1.5rem;
}

.about-us .why-us .box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.why-us .box .image {
  flex: 0.75;
}
.why-us .box .image img {
  display: block;
}

.why-us .box .text {
  flex: 3;
}
.why-us .box .text h6 {
  font-family: gotham medium, sans-serif;
  font-size: 1.4rem;
  font-weight: 550;
}

/* right section  */
.reviews {
  color: #1a1a1a;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
}

.testimonial blockquote {
  margin: 4rem 1rem 0;
  background: #efefef;
  padding: 4rem;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #49b3db;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 4rem solid transparent;
  border-top: 3rem solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 2rem 0 0 1rem;
  text-align: left;
  color: rgb(71, 69, 69);
  font-weight: 700;
  font-size: 1.1rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #333333;
  margin: 2rem;
  padding: 0.5rem;
}
/************************************** about-us sec ends **************************************/

/************************************** floating-whatsapp **************************************/
.floating-whatsapp {
  display: inline-block;
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  bottom: 2.75rem;
  right: 1.75rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 14px;
  font-size: 2.8rem;
}

.my-float:hover {
  color: #fff;
}
/************************************** floating-whatsapp ends **************************************/

/********************************************************** footer sec  **********************************************************/
.footer {
  background-color: #43454e;
  color: #fff;
  padding-bottom: 5rem;
  margin-top: 4rem;
}
footer li {
  line-height: 1.3rem;
}
footer a {
  font-size: 0.85rem;
  font-weight: 500;
  color: #aaa;
  transition: 0.6s;
  font-family: "Gotham Book", sans-serif;
}

footer a:hover {
  text-decoration: none;
  color: #49b3db;
}

.footer .tech-title {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  color: #717171;
  font-family: gotham medium, sans-serif;
}

.footer .tech-title::after {
  content: "";
  display: block;
  flex: 1;
  border-bottom: 1px solid #525252;
  margin-left: 0.5rem;
}

/* footer logo  */
.footer-logo {
  position: relative;
}

.footer-logo img {
  position: absolute;
  border: thick double #32a1ce;
  border-radius: 9px 9px 0 0;
  border-bottom: none;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

/* footer-links  */
.footer-links {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.footer .row {
  margin-bottom: 2rem;
}

/* first-row */
#first-left-sec .device-list {
  display: flex;
}
#first-left-sec .left-side,
#first-left-sec .right-side {
  flex: 1;
}

#first-left-sec .li-parent {
  margin-bottom: 4rem;
}

.footer .sub-titles {
  font-family: gotham medium, sans-serif;
  margin-bottom: 0.6rem;
  display: block;
  font-weight: 600;
}

#first-right-sec .services-list {
  column-count: 2;
  width: 100%;
}

/* second-row */
#menu-company {
  column-count: 2;
}

.footer-contact {
  color: #aaa;
  font-size: 1rem;
}

/* last row  */
.footer .last-row p {
  margin-top: 1.2rem;
  color: #717171;
  font-size: 0.9rem;
  font-weight: 700;
}

.footer .footer-social {
  font-size: 0;
  text-align: right;
}

.footer .footer-social a {
  margin: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 0;
  text-align: center;
  color: #717171;
  border: 4px solid;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer .footer-social a::before {
  font-size: 1.2rem;
  line-height: 2.1rem;
}

.footer .footer-social a:hover {
  color: #32a1ce;
}
/********************************************************** footer sec ends **********************************************************/

/************************************* it-businesses section starts *************************************/

/******* sticky business form  *******/
.sticky-form {
  visibility: hidden;
  position: fixed;
  opacity: 1;
  display: block;
  padding: 2rem;
  top: 65%;
  right: 2rem;
  margin-top: -18.35rem;
  background-color: #fff;
  box-shadow: 0 0 2.5rem 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 23rem;
  text-align: center;
  z-index: 100000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sticky-form.active {
  display: block;
  visibility: visible;
}
.sticky-form .text-center {
  color: #2c2c2c;
}
.sticky-form h5 {
  margin-bottom: 1rem;
}

.sticky-form .cancel {
  position: relative;
  left: 9rem;
  bottom: 1rem;
  color: #ff0000;
}

.sticky-form .form-control {
  background-color: #f1f1f165;
}

/* sticky-trigger getStarted btn */
.sticky-trigger {
  position: fixed;
  right: 0;
  top: 27rem;
  z-index: 1005;
}

.sticky-trigger:not(.fixed) {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem !important;
  border-radius: 50px !important;
  margin-right: -2.6rem;
  float: right;
  box-shadow: 0 0 2.5rem 1px rgba(0, 0, 0, 0.1);
}

.sticky-trigger .txt {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  width: 6rem;
  text-align: left;
  line-height: 1;
  display: inline-block;
}

/* it-bussiness summary section  */
.summary {
  padding: 1rem 4rem;
  margin-bottom: 3rem;
}
.summary .sec-title {
  text-align: center;
  margin-bottom: 2rem;
}
.summary .sec-description {
  text-align: justify;
}

/************************* divider *************************/
.divider {
  width: 50%;
  margin: 0 auto;
}
.divider::after {
  content: "";
  display: block;
  height: 0.15rem;
  background: linear-gradient(to right, #ffffff 0%, #e5e5e5 50%, #ffffff 100%);
}

/* it-bussiness partners */
#partners .our-costumers .container {
  padding: 0.2rem;
}

/* it-business services sec */
.it-services {
  padding: 7rem 0;
}

.it-services .sub-section {
  display: flex;
  flex-wrap: wrap;
}
.it-services .sub-sec {
  position: relative;
  flex: 1;
  padding-bottom: 8rem;
}
.it-services .sub-sec:nth-child(2) {
  margin: 0 3%;
}

.it-services .sub-sec .inner {
  padding: 0 1.5rem;
}

.it-services .sub-sec .text {
  position: relative;
  padding: 1.5rem;
  margin-top: -5.2rem;
  background-color: rgba(255, 255, 255, 0.966);
  z-index: 2;
}
.it-services .sub-sec .image {
  margin: 0 -2rem;
}

.it-services .sub-sec .s-title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-family: "Cairo", sans-serif;
}
.it-services .sub-sec .description {
  color: #666;
}
.it-services .sub-sec .content {
  display: flex;
  flex-wrap: wrap;
}
.sub-sec .content + .content {
  margin-top: 1rem;
}
.sub-sec .content .content-img {
  flex-basis: 5rem;
}
.sub-sec .content .content-txt {
  flex: 1;
}
.sub-sec .content .content-txt .title {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}
.sub-sec .overall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.sub-sec .btn-danger {
  position: absolute;
  bottom: 4rem;
  left: 5rem;
  z-index: 4;
}

/*************** it-platform ***************/
.platform {
  background-image: url("/assests/img/platform-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-attachment: fixed;
}
.platform .sec-title {
  color: #49b3db;
  margin-bottom: 0.5rem;
}
.platform .sub-title {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
.platform .contents {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/assests/img/it-platform-center.png");
  background-repeat: no-repeat;
  background-position: 50% 34%;
  background-size: 55%;
}
.platform .content {
  flex-basis: 50%;
  margin-bottom: 3.5rem;
}
.platform .content:nth-child(even) {
  text-align: right;
}
.platform .content:nth-child(even) .text {
  float: right;
}
.platform .content:nth-child(3) .description,
.platform .content:nth-child(4) .description {
  min-height: 0;
}
.platform .content .text {
  max-width: 22rem;
  padding: 1rem 1rem 1rem 0;
  text-align: center;
}
.platform .content .title {
  color: #49b3db;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
}
.platform .content .description {
  color: #fff;
  font-size: 1rem;
  min-height: 5.6rem;
}

/********************** it-business-form **********************/
.business-form {
  padding: 7rem 0;
}
.business-form .sec-title {
  margin-bottom: 0;
}
.business-form .sub-title {
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.business-form .left-sec,
.business-form .right-sec {
  width: 50%;
  float: left;
}
.business-form .left-sec {
  padding-right: 1rem;
}
.business-form .right-sec {
  padding-left: 1rem;
}

.business-form .form-control {
  padding: 2rem;
  background-color: #f9f9f9;
  letter-spacing: 2px;
  margin: 1.75rem 0;
  border: none;
}
/************************************* it-businesses section ends *************************************/

/************************************* it-contracts section starts *************************************/
/* it-contracts-getStarted btn */
.trigger-btn .sticky-trigger {
  margin-left: calc(50% - 117px);
  position: unset !important;
  width: 234px !important;
  float: unset !important;
  margin-top: 1rem;
  margin-bottom: -6rem;
}

.trigger-btn .sticky-trigger:not(.fixed) {
  display: flex;
  align-items: center;
  padding: 1rem 2rem !important;
  border-radius: 50px !important;
  margin-right: -2.6rem;
  box-shadow: 0 0 2.5rem 1px rgba(0, 0, 0, 0.1);
}

.trigger-btn .sticky-trigger .txt {
  margin-left: 0.5rem;
  font-size: 1.56rem;
  font-weight: 700;
  width: 10rem;
  line-height: 1;
  display: inline-block;
}

/* it-contracts-summary */
.contract-summary {
  padding: 9rem 0 0 0;
}

.contract-summary .description {
  text-align: left;
  font-size: 1.2rem;
  color: #666666;
  line-height: 1.8rem;
}

.contract-summary p {
  margin-bottom: 2.5rem;
}

/********* it_contracts features sec  *********/
.features {
  padding: 3rem 0 1rem;
}

.features .contents {
  margin: 4rem 0 0 0;
}

.features .content {
  display: flex;
  position: relative;
  padding: 2rem 0;
}

.features .content .content-img {
  flex-basis: 6rem;
}
.features .content .content-txt {
  display: flex;
  flex: 1;
  padding-left: 1rem;
}

.features .content-txt .title {
  flex-basis: 25%;
}

.features .content-txt .desc {
  color: #666;
  flex-basis: 75%;
  padding-left: 4rem;
}
.features .content:nth-child(even) {
  background: #fff;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(251, 251, 251, 1) 25%,
    rgba(251, 251, 251, 1) 50%,
    rgba(251, 251, 251, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(251, 251, 251, 1) 25%,
    rgba(251, 251, 251, 1) 50%,
    rgba(251, 251, 251, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(251, 251, 251, 1) 25%,
    rgba(251, 251, 251, 1) 50%,
    rgba(251, 251, 251, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1 );
}
.features .content::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 232, 232, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 232, 232, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 232, 232, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.features .content:last-child::after {
  display: none;
}

/***************** it-contracts-steps  *****************/
.contracts-steps {
  padding: 5rem 0;
  background-color: #f6fbfd;
}
.contracts-steps .contents {
  display: flex;
}
.contracts-steps .content {
  flex: 1;
  position: relative;
}
.contracts-steps .content .content-img {
  min-height: 10rem;
}
.contracts-steps .content .content-img img {
  max-height: 5rem;
  max-width: initial;
}
.contracts-steps .content .content-txt {
  max-width: 13rem;
  margin: 4rem auto 0;
}
.contracts-steps .content .count {
  display: block;
  margin: 0 auto 5rem;
}
.contracts-steps .content .title {
  font-size: 1.28rem;
}
/*   */
.contracts-steps .content::after,
.it-projects .content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  background: #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #e8e8e8 50%, #ffffff 100%);
}

.contracts-steps .content:last-child::after {
  display: none;
}
/********************************************** it-contracts sec ends **********************************************/

/********************************************** it-services sec  **********************************************/
/* summary sec  */
#it-services-summary .sec-description p {
  font-weight: 600;
  font-size: 1.2rem;
}

/* get support & repairs */
.get-support .sec-title {
  margin-bottom: 0;
}
.get-support .sub-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #666;
}
.get-support .contents {
  margin: 4rem auto 0;
  max-width: 47rem;
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
/*  */
.get-support .content,
.repairs .content {
  margin-bottom: 4rem;
  position: relative;
  padding-bottom: 1rem;
  transition: all 0.5s;
  flex-basis: 33.33%;
}
.get-support .content:hover {
  background-color: #ecf7fb;
}
.get-support .content:hover .title,
.get-support .content:hover a {
  color: #5fbcdf;
}
.get-support .content .content-img,
.repairs .content .content-img {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}
.get-support .content .content-img img,
.repairs .content .content-img img {
  max-height: 3rem;
  max-width: initial;
}
.get-support .title {
  text-decoration: underline;
  color: #ff0000;
}
.get-support .content-txt {
  max-width: 22rem;
  margin: 0 auto;
}
.get-support .content-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.get-support h4 {
  font-size: 1rem;
}
/*********** advantages sec ***********/
.advantages {
  background-image: url("/assests/img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0 7rem;
}
.advantages .image {
  margin-bottom: 3rem;
  height: 7rem;
}
.advantages .title {
  color: #00b7ff;
  min-height: 3rem;
}
.advantages .txt {
  color: #fff;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 18rem;
}
/* bottom-summary */
.bottom-summary {
  margin-bottom: 10rem;
}
.bottom-summary p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
.bottom-summary .first {
  margin-bottom: 3rem;
}
/************************************************* it-services sec ends  *************************************************/

/************************************************************* it_consultancy sec  *************************************************************/
/* it-contsultancy-features */
#consultancy-ft {
  margin-bottom: 4rem;
}
#consultancy-ft .content-text {
  flex: 1;
}

/* it-projects */
.it-projects {
  background-color: #fbfbfb;
  padding: 4rem 0;
}
.it-projects .contents {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}
.it-projects .content {
  position: relative;
  padding: 0 2rem;
  flex-basis: 25%;
}
.it-projects .content .content-img {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.it-projects .content .content-img img {
  max-height: 100%;
  max-width: initial;
}
.it-projects .content-txt .title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}
/************************************************************* it_consultancy sec ends *************************************************************/

/***************************************** DEvice_repair sec starts *****************************************/
#device-advantage {
  padding: 10rem 0 0 !important;
}
#device-advantage .content {
  margin-bottom: 7rem;
}

#device-advantage .image {
  margin-bottom: 1rem !important;
  height: 6rem;
}

/* repairs sec */
.repairs {
  padding: 5rem 0 0;
}
.repairs .contents {
  margin: 4rem auto 0;
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.repairs .title {
  text-decoration: underline;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}
.repairs .content-txt {
  max-width: 16rem;
  margin: 0 auto;
  color: #666;
}
/* our-partners */
#partners {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}
#partners .container {
  padding: 2rem !important;
}
/***************************************** DEvice_repair sec endss *****************************************/